@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

section {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #3b2d20;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

header .navigation a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #695a4b;
}

.content {
    margin: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}

.content .info {
    flex: 1;
    padding: 20px;
}

.content .info h2 {
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 50px;
    margin-bottom: 40px;
}

.content .info h2 span {
    color: #a89480;
    font-size: 45px;
    font-weight: 600;
}

.content .info p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 1rem 0;
}

.content .info-btn {
    color: black;
    display: inline-block;
    background: #695a4b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    transition-property: background;
    cursor: pointer;
}

.content .info-btn:hover {
    background: white;
}

.content .image {
    position: relative;
    flex: 1;
}

.content .image img .move {
    max-width: 100%;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 1rem;
}

.media-icons a {
    position: relative;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child) {
    margin-right: 50px;
}

.media-icons a:hover {
    transform: scale(1.5);
}

label {
    display: none;
}

#check {
    color: #ffffff;
    z-index: 1;
    display: none;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
    section {
        width: 100%;
        padding: 0 15px;
    }
    
    header .navigation {
        display: none;
    }

    label {
        color:#a89480;
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label :hover {
        color:#544230;
    }

    label .close-btn {
        display: none;
    }

    #check:checked ~ header .navigation {
        z-index: 2;
        position: fixed;
        background: #9c8d7f;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a {
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn {
        display:none;
    }

    #check:checked ~header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
        color:#3b2d20;
    }
    
    label .menu-btn {
        position: absolute;
        top: 25px;
    }

    label .logo {
        position: absolute;
        bottom: -10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content .info h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .content .info h2 span {
        font-size: 35px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 25px;
    }

    .content .image img {
        max-width: 100%;
        height: fit-content;
        position:relative;
        z-index: 3;
    }
    
}

@media screen and (max-width: 560px) {
    .content .info h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .content .info h2 span {
        font-size: 25px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 20px;
    }

    .content .image img {
        max-width: auto;
        height: auto;
        position: relative;

    }
    
}